*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    background-color: blue;
}
.mainContainer {
               width: 70%;
               height:100vh;
               margin: auto;
               background-color: brown;
} 
.navbar {
    display:flex;
    justify-content: space-between;         
}
